<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登录</title>

    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">

    <script src="/public/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/public/assets/js/jquery.cookie.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>MES</h1>
        </div>
    </div>
</body>
</html>